.slides img{
	border: 0 !important;
	background:none !important;
	border: 0 !important;
	box-shadow: none !important;
}

.slides menu-title {
	visibility: hidden;
}


.hidden {
	visibility: hidden;
	display: none;
}


.reveal {
	/*font-family: "Open Sans", sans-serif;*/

	--r-heading-text-transform: none !important;
	--r-heading1-size: 60px;
	--r-heading2-size: 45px;
	--r-heading3-size: 36px;
	--hightlight-color: yellow;

	--header-height: 50px;
	--header-background-color: white;
	--header-color: gray;
	--header-size: 20px;
}

.reveal b, .reveal strong {
	color: var(--r-link-color)
}
.reveal canvas[data-chart].theme-black {
	background-color: rgba(0,0,0,0.5);
}

.reveal p,
.reveal ul {
	font-size: 30px;
}

#header-left {
	position: absolute;
	top: 0;
	left: 0;
	text-align: left;
}
#header-right {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
}
#footer-left {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
}
#footer-right {
	position: absolute;
	bottom: 0%;
	right: 0%;
	text-align: right;
}

#header-left,
#header-right {
	padding: 0 16px;
	width: calc(50vw);
	height: var(--header-height);
	background-color: var(--header-background-color);
	color: var(--header-color);
	vertical-align: center;
	--r-block-margin: 10px;
	font-size: var(--header-size) !important;
}
#header-left p,
#header-right p {
	font-size: unset;
}

#header-left img,
#header-right img {
	--r-block-margin: 0;
	padding: 0;
	max-width: unset;
	max-height: unset;
	height: var(--header-height);
}

/* Ensure certain elements are never larger than the slide itself */
.reveal .r-frame img,
.reveal .r-frame video,
.reveal .r-frame iframe {
	max-width: 100%;
	max-height: 100%;
}

/* ---------
 * Vidéos
 * --------- */

.reveal .box-video {
	background-color: black;
	width: calc(min(70vw, calc(60vh - 20px) * 16 / 9));
	height: calc(min(70vw * 9 / 16, calc(60vh - 20px)));
	margin: 10px;
	padding:0;
}


.reveal .video-title {
	position: absolute;
	display: inline-block;
	top: -50px;
	left: 20px;
	color: var(--r-link-color);
	font: var(--r-main-font);
	font-size: var(--r-main-font-size);
}

.reveal .video-description {
	position: absolute;
	display: inline-block;
	top: -50px;
	left: 150px;
	font: var(--r-code-font);
	font-size: var(--r-code-font-size, 15pt);
	font-style: italic;
}

.reveal .box-bar {
	background-color: black;
	box-shadow: 10px 5px 25px black;
}
.reveal .box-video-bar {
    opacity: 0.7;
    width: calc(100% + 24px);
    margin-left: 0;
    height: 70px;
    position: relative;
    left: -12px;
    z-index: 10;
}

/* small screen - landscape*/ 
@media screen and (max-width: 991px) and (orientation: landscape){
    .reveal .box-video {
        width: calc(100vw);
        height: calc(101vw*9/16);
    }
}
/* small screen - portait */ 
@media screen and (max-height: 991px) and (orientation: portrait){
    .reveal .box-video {
        width: calc(100vh - 20px);
        height: calc((100vh - 20px) * 9 / 16);
    }
}

/* ---------
 * Audio
 * --------- */

.reveal .box-audio {
	border-radius: 200px;

}

.reveal .box-audio-play {
	width: 100%;
	height: 100%;
	background-color: inherit;
	border-radius: 200px;
	animation: rotate 0.8s ease infinite;
	animation-delay: 0s;
	animation-play-state: running;
	line-height: 100px;
	align-content: center;
	vertical-align: middle;
}


/* ---------
 * Other (citation, etc.)
 * --------- */

.reveal .code-wrapper {
	background-color: rgba(0,0,0,0.7);
	font-style: italic;
}

.reveal blockquote {
	padding-left: 16px;
	text-align: left;
	background-color: rgba(0,0,0,0.7);
}


/* ---------
 * Animations
 * --------- */

