

<div id="hidden" style="display:none;">
    <!--<div id="header">
        <div id="header-left">
           &lt;!&ndash; <p>Gabriel Lavenier</p>&ndash;&gt;
        </div>
        <div id="header-right"></div>
        <div id="footer-left"></div>
        <div id="footer-right"></div>
    </div>-->
</div>

<div class="reveal">
    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
        <section data-auto-animate data-background-transition="fade" data-background="rgb(0,0,0,0.9)">

            <h1 data-id="title" style="color: var(--r-link-color);">Gabriel Lavenier<h1>

            <h2 data-id="subtitle" style="opacity: 0; position: absolute; left: -400px;">Réalisations</h2>
            <h2 data-id="videos" style="opacity: 0; margin-top: -100px; position: absolute; left: calc(100vw);">Vidéos</h2>

            <div class="r-stack justify-center">
                <div data-id="box0" data-auto-animate-delay="0" style="opacity:0; border-radius: 10px; background: black; width: 600px; height: 60px; margin: 10px;" data-auto-animate-target="91"></div>
                <div class="r-hstack justify-center" style="margin-top: -10px;">
                    <div data-id="box1" style="background: #999; width: 50px; height: 50px; margin: 10px; border-radius: 5px;" data-auto-animate-target="92"></div>
                    <div data-id="box2" style="background: #999; width: 50px; height: 50px; margin: 10px; border-radius: 5px;" data-auto-animate-target="93"></div>
                    <div data-id="box3" style="background: #999; width: 50px; height: 50px; margin: 10px; border-radius: 5px;" data-auto-animate-target="94"></div>
                </div>
            </div>

        </section>

        <!-- Realisation vidéos -->
        <section data-auto-animate>

            <h1 data-id="title" style="opacity: 0.3;">Gabriel Lavenier<h1>
            <p data-id="video-description" style="opacity: 0"></p>

            <div class="r-hstack justify-center">
                <h2 data-id="subtitle" >Réalisations</h2>
                &nbsp;<h2 data-id="videos" style="color: var(--r-link-color)">Vidéos</h2>
            </div>

            <div class="r-stack justify-center">
                <div data-id="box0" data-auto-animate-delay="0" class="box-bar"
                     style="opacity:0.8; width: 530px; height: 120px; margin: 10px;" data-auto-animate-target="95"></div>
                <div class="r-hstack justify-center">
                    <div data-id="box1" data-auto-animate-delay="0" style="background: cyan; width: 150px; height: 100px; margin: 10px;" data-auto-animate-target="96"></div>
                    <div data-id="box2" data-auto-animate-delay="0.1" style="background: magenta; width: 150px; height: 100px; margin: 10px;" data-auto-animate-target="97"></div>
                    <div data-id="box3" data-auto-animate-delay="0.2" style="background: yellow; width: 150px; height: 100px; margin: 10px;" data-auto-animate-target="98"></div>
                </div>
            </div>
        </section>

        <!-- Video n°1 -->
        <section data-auto-animate data-background-transition="fade"
                 data-background="rgb(0,0,0,0.5)"
                 data-autoslide="43000">
            <h2 data-id="videos" data-auto-animate-delay="0" data-auto-animate-duration="0.3" data-auto-animate-easing="cubic-bezier(0.0, 0.0, 1.0, 1.0)"
                class="video-title">Vidéos</h2>

            <p data-id="video-description" class="video-description" data-auto-animate-delay="0.3">Série pédagogique <i>&laquo; Histoire d'apprendre &raquo;</i></p>

            <div class="r-stack justify-center">
                <div data-id="box0" data-auto-animate-delay="0"
                     class="box-bar box-video-bar"
                     data-auto-animate-target="95"></div>

                <div class="r-hstack" style="z-index: 99">
                    <div data-id="box1" data-auto-animate-delay="0"
                         style="" data-auto-animate-target="96"
                         class="r-frame box-video" >
                        <video>
                            <source data-src="./data/2022-Algerie.mp4" type="video/mp4" />
                        </video>
                    </div>

                    <div data-id="box2" data-auto-animate-delay="0.1" data-auto-animate-duration="0.3"
                         data-auto-animate-easing="cubic-bezier(0.0, 0.0, 1.0, 1.0)"
                         style="background: magenta; width: 50px; height: 50px; margin: 5px;" data-auto-animate-target="97">

                    </div>
                    <div data-id="box3" style="background: yellow; width: 50px; height: 50px; margin: 5px;" data-auto-animate-target="98"></div>
                </div>
            </div>
        </section>

        <!-- Vidéo n° 2 -->
        <section data-auto-animate data-background-transition="fade"
                 data-autoslide="180000">
            <h2 data-id="videos" data-auto-animate-delay="0"
                class="video-title">Vidéos</h2>

            <p data-id="video-description" class="video-description" data-auto-animate-delay="0.3">VLOG pour <i>&laquo; Constant &raquo;</i> (créateur de contenu Canadien)</p>

            <div class="r-stack justify-center">
                <div data-id="box0" data-auto-animate-delay="0"
                     class="box-bar box-video-bar"
                     data-auto-animate-target="95"></div>

                <div class="r-hstack" style="z-index: 99">
                    <div data-id="box1" data-auto-animate-delay="0" data-auto-animate-duration="0.3"
                         style="background: cyan; width: 50px; height: 50px; margin: 5px;" data-auto-animate-target="96">
                    </div>

                    <div data-id="box2" data-auto-animate-delay="0.1" data-auto-animate-duration="0.3"
                         data-auto-animate-easing="cubic-bezier(0.0, 0.0, 1.0, 1.0)"
                         style="" data-auto-animate-target="97"
                         class="r-frame box-video">

                        <video>
                            <source data-src="./data/2022-Constant-vlog-zoo.mp4" type="video/mp4" />
                        </video>

                        <!-- Same vidéo, but hosted on YT -->
                        <!--iframe data-preload data-autoplay width="100%" height="100%"
                                src="https://www.youtube.com/embed/7q6yQptyik0" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
                        </iframe-->
                    </div>
                    <div data-id="box3" style="background: yellow; width: 50px; height: 50px; margin: 5px;" data-auto-animate-target="98"></div>
                </div>
            </div>
        </section>
        
        <!-- Vidéo n°3 -->
        <section data-auto-animate data-background-transition="fade" data-autoslide="191000">
            <h2 data-id="videos" data-auto-animate-delay="0"
                class="video-title">Vidéos</h2>

            <p data-id="video-description" class="video-description" data-auto-animate-delay="0.3"><i>&laquo; Best-Of jeux vidéo &raquo;</i> (pour le même créateur de contenu)</p>

            <div class="r-stack justify-center">
                <div data-id="box0" 
                     class="box-bar box-video-bar" data-auto-animate-target="95"></div>

                <div class="r-hstack" style="z-index: 99">
                    <div data-id="box1" data-auto-animate-delay="0" data-auto-animate-duration="0.3"
                         style="background: cyan; width: 50px; height: 50px; margin: 5px;" data-auto-animate-target="96">
                    </div>

                    <div data-id="box2" 
                         data-auto-animate-delay="0.1" 
                         data-auto-animate-duration="0.3"
                         data-auto-animate-easing="cubic-bezier(0.0, 0.0, 1.0, 1.0)"
                         style="background: magenta; width: 50px; height: 50px; margin: 5px;" 
                         data-auto-animate-target="97"
                         >
                    </div>
                    <div data-id="box3" 
                         data-auto-animate-delay="0.1" data-auto-animate-duration="0.3"
                         class="r-frame box-video" data-auto-animate-target="98">

                        <video>
                            <source data-src="./data/2022-Constant-BestOf.mp4" type="video/mp4" />
                        </video>
                    </div>
                </div>
            </div>
        </section>
        

        <!--<section data-background-video="https://www.youtube.com/embed/zHtDyt-iQyg">

        </section>-->

        <!-- Audio n°1-->
        <section data-auto-animate>


            <div class="r-stack">
                <div data-id="box1" class="box-audio" style="background: cyan; width: 300px; height: 300px;" data-auto-animate-target="124">
                    <div class="box-audio-play"></div>
                </div>
                <div data-id="box2" class="box-audio" style="background: magenta; width: 200px; height: 200px;" data-auto-animate-target="125">
                    <div class="box-audio-play"></div>
                </div>
                <div data-id="box3" class="box-audio"
                     style="background: yellow; width: 100px; height: 100px;" data-auto-animate-target="126">
                    <div class="box-audio-play"></div>
                </div>
            </div>
            <p data-id="audio-description" data-auto-animate-delay="0.3" class="audio-description"><i>&laquo; Maes &raquo;</i></p>

            <h2 data-id="subtitle">Créations Audio</h2>


            <audio>
                <source data-src="./data/2021-maes-prod.mp3" type="audio/mp3" />
            </audio>

        </section>

        <!-- Audio #2 -->
        <section data-auto-animate data-background="rgb(0,0,0,0.5)">

            <div class="r-stack">
                <div data-id="box1" class="box-audio" style="background: cyan; width: 300px; height: 300px;" data-auto-animate-target="124">
                    <div class="box-audio-play"></div>
                </div>
                <div data-id="box2" class="box-audio" style="background: magenta; width: 200px; height: 200px;" data-auto-animate-target="125">
                    <div class="box-audio-play"></div>
                </div>
                <div data-id="box3" class="box-audio"
                     style="background: yellow; width: 100px; height: 100px;" data-auto-animate-target="126">
                    <div class="box-audio-play"></div>
                </div>
            </div>


            <h2 data-id="subtitle">Créations Audio</h2>

            <p data-id="audio-description" class="audio-description"><i>&laquo; Trap Métal &raquo;</i></p>

            <audio>
                <source data-src="./data/2021-trap-metal-1.mp3" type="audio/mp3" />
            </audio>

        </section>

        <section data-markdown>
            <script type="text/template">
                # Expérience Logiciels

                |   | Années     |
                |---|---         |
                | Blender            | 2022       |
                | Abode Premier Pro  | 2018-2022  |
                | After Effect       | 2020-2022  |
                | FLStudio           | 2019-2022  |
                | Sony Vegas Pro     | 2015-2019  |

            </script>
        </section>

        <section data-markdown data-auto-animate>
            <script type="text/template">
                <h1 data-id="qui-suis-je">Qui suis-je ?</h1>

                > Jeune lycéen de 18 ans, je suis **convaincu** de pouvoir **réaliser ma vocation**
                > dans la création audiovisuelle.
                >
                > **Passionné et pugnace** dans l'âme,
                > je travaille quotidiennement à la réalisation de ce rêve.

            </script>
        </section>
        <section data-markdown data-auto-animate data-background-image="images/cross-1.jpg">
            <script type="text/template">
                <h1 data-id="qui-suis-je">Qui suis-je ?</h1>

                > "Par le travail et la persévérance, aller au bout de soi."
                >
                > Sportif de niveau **inter-régional**,
                > j'ai appris la **rigueur** et la **combativité**.
            </script>
        </section>

        <section data-markdown data-background="rgb(0,0,0,0.5)">
            <script type="text/template">
                ## Contacts

                [<i class="fab fa-twitter"></i> GabLavzz](https://www.twitter.com/GabLavzz)
                |
                [<i class="fab fa-mail"></i> laveniergabriel@gmail.com](mailto:laveniergabriel@gmail.com)
                <br/>

                [<i class="fa fa-music"></i> SoundCloud](https://soundcloud.com/gab-a-la-prod)
                |
                [<i class="fa fa-globe"></i> gabriel.lvnr.fr](http://gabriel.lvnr.fr)

                <br/>
                <br/>
                <hr/>

                Présentation réalisée avec [Reveal.js](https://revealjs.com/) | [Sources](https://framagit.org/blavenie/gablvnr)
        </script>
    </div>
</div>

