<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">

    <title><%= title %></title>

    <meta name="description" content="<%= description %>">
    <meta name="author" content="<%= author %>">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <!-- build:css css/default.css -->
    <link rel="stylesheet" href="../node_modules/reveal.js/dist/theme/fonts/source-sans-pro/source-sans-pro.css">
    <link rel="stylesheet" href="css/default.css" id="theme">
    <!-- endbuild -->

    <!-- build:css css/vendor.css -->
    <link rel="stylesheet" href="../node_modules/reveal.js/dist/reveal.css">
    <link rel="stylesheet" href="../node_modules/reveal.js-plugins/menu/font-awesome/css/fontawesome.css">
    <link rel="stylesheet" href="../node_modules/reveal.js-plugins/menu/menu.css">
    <!-- endbuild -->
    <!-- build:css css/app.css -->
    <link rel="stylesheet" href="css/app.css">
    <!-- endbuild -->

    <!-- build:js lib/vendor.js -->
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/jquery-comments/js/jquery-comments.js"></script>
    <script src="../node_modules/reveal.js/dist/reveal.js"></script>
    <script src="../node_modules/reveal.js/plugin/markdown/markdown.js"></script>
    <script src="../node_modules/reveal.js/plugin/highlight/highlight.js"></script>
    <script src="../node_modules/reveal.js/plugin/notes/notes.js"></script>
    <script src="../node_modules/reveal.js-plugins/menu/menu.js"></script>
    <!-- endbuild -->

    <!-- build:js lib/app.js -->
    <script src="js/app-colors.js"></script>
    <script src="js/app-session.js"></script>
    <script src="js/app.js"></script>
    <!-- endbuild -->

</head>

<body>
